# Copie ce fichier en .env et remplis les valeurs
# cp .env.example .env

# Mot de passe de ton adresse email SMTP O2switch
SMTP_PASS=ton_mot_de_passe_email

# Port du serveur (O2switch impose un port spécifique, vérifie dans ton cPanel Node.js)
PORT=3000
